.panel.panel-default
  .panel-heading
    = twin_sword.name
  .panel-body
    #sharpness
      .heading
        切れ味
      .body
        .progress
          = render partial: "sharpness_guage/sword", object: twin_sword
  .panel-body
    .derived_from
      - if twin_sword.derived_from
        派生元
        = link_to_twin_sword twin_sword.derived_from
    .deriving_to
      派生先
      - twin_sword.deriving_to.each do |weapon|
        = link_to_twin_sword weapon
