.col-xs-12
  .panel.panel-default
    .panel-heading
      = @twin_sword.name
    .panel-body
      #sharpness
        .heading
          切れ味
        .body
          .progress
            .progress-bar.progress-bar-danger{ style: "width: #{@twin_sword.red_length}%" }
            .progress-bar.progress-bar-warning{ style: "width: 10%" }
            .progress-bar.progress-bar-success{ style: "width: 10%" }
            .progress-bar.progress-bar-info{ style: "width: 10%" }
    .panel-body
      - if @twin_sword.derived_from
        派生元
        = link_to @twin_sword.derived_from.name, twin_sword_path(@twin_sword.derived_from.name)
